<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>宅喵生活，多彩生活</title>
    <link rel="stylesheet" href="http://pic.zhaimiaosh.com/static/Home/css/style.css">
    <link rel="bookmark" href="http://pic.zhaimiaosh.com/static/Home/images/logo.png" type="image/x-icon">
 	<link rel="stylesheet" href="http://pic.zhaimiaosh.com/static/Home/css/tipso.min.css">
    <link rel="shortcut icon" href="http://pic.zhaimiaosh.com/static/Home/images/favicon.ico" />
    <script src="http://pic.zhaimiaosh.com/static/Home/js/jquery-1.8.3.min.js"></script>

</head>

<body>
<div class="nav" role="banner" style="display: block;">
    <div class="top-wrap">
        <div class="top-logo">
            <a class="logo" href="index.html" title="宅喵生活" data-no-retina="">
                <img src="http://pic.zhaimiaosh.com/static/Home/images/zhaimiao.png" class="top-img"/>
            </a>
        </div>

        <div class="menu-box">
            <ul class="top-ul">
                <li class="top-li">
                    <a href="{:U('Index/index')}"><h2 class="text">首页</h2></a>
                </li>
                <li class="top-li">
                    <a href="{:U('Index/describe')}"><h2 class="text">企业简介</h2></a>
                </li>
                <li class="top-li">
                    <a href="{:U('Index/download')}"><h2 class="text">下载APP</h2></a>
                </li>
                <li class="top-li">
                    <h2 class="text" id="tip2">联系电话：4000333178</h2>
                </li>
            </ul>
        </div>
    </div>
</div>


<div style="width:1000px;margin: 0 auto;padding-top: 20px;">

	<p><img src="http://pic.zhaimiaosh.com/static/Home/images/history_top.jpg" class="images" alt=""/></p>
    <p style="margin: 20px 0 20px 20px;text-align: left; line-height: 30px;">
        &nbsp; &nbsp; &nbsp; &nbsp; 陕西三多网络科技有限公司是一个以互联网行业起家经营电子商务，并结合企业优势及以往经验往线下新零售转型的综合性公司，旗下直营和合作项目有宅喵生活项目、淘店客项目、青团生活项目、青团快店项目等。公司注册资金100万，坐落于杨凌示范区创业工场。公司目前运行状态良好，逐步进入正轨，现已在北京、上海、陕西、山西、新疆、甘肃等地建立了加盟站；公司目前全职员工百余人，加盟站点合计500多个，逐步开始形成自身的特色经营。
    </p>
    <p><img src="http://pic.zhaimiaosh.com/static/Home/images/history.png" style="width: 75%" alt=""/></p>
</div>

    <div class="foot">
        <div class="j-center-block">
            <div class="link-list">
                <div class="column-1 column">
                    <span class="title">友情链接</span>
                    <ul>

                        <li>
                            <a target="_blank" href="http://www.taodianke.com">淘店客官网</a>
                        </li>
                        <li><a target="_blank" href="http://xian.youngt.com">青团网</a></li>
                        <li>
                            <a target="_blank" href="http://kd.youngt.com">青团快店</a>
                        </li>
                    </ul>
                </div>
                <div class="column-2 column">
                    <span class="title">关于我们</span>
                    <ul>
                        <li>
                            <a rel="nofollow" href="describe.html">公司简介</a>
                        </li>
                    </ul>
                </div>
                <div class="column-3 column">
                    <span class="title">联系我们</span>
                    <ul>
                        <li>联系电话:
                            <a href="tel:4000333178">4000333178</a>
                        </li>
                        <li>商务QQ：3405981934
                        </li>
                    </ul>
                </div>
                <div class="column-4 column">
                    <img src="http://pic.zhaimiaosh.com/static/Home/images/qrcode.png" width="100" height="100">
                </div>
            </div>
            <div class="info-wrapper">
                <img src="http://pic.zhaimiaosh.com/static/Home/images/zhaimiao.png" class="company-logo">
                <p class="company-name">陕西三多网络科技有限公司</p>
                <p class="copyright">Copyright 2017&nbsp;&nbsp;
                    <a class="copyright-link" href="http://shxcainfo.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">
                        陕ICP备170170765号-1
                    </a>
                </p>
            </div>
        </div>
    </div>

<script>
/*拖动滚动条或滚动鼠标轮*/
window.onscroll=function(){
    if(document.body.scrollTop||document.documentElement.scrollTop>0){
        document.getElementById('rTop').style.display="block"
    }else{
        document.getElementById('rTop').style.display="none"
    }
}
/*点击“回到顶部”按钮*/
function toTop(){
    window.scrollTo('0','0');
    document.getElementById('rTop').style.display="none"
}
</script>
<style type="text/css">
    .rTop{
        position: fixed;
        right: 1rem;
        bottom: 2rem;
    }
    .img{
        width: 40%;
        height: 40%
    }
</style>
<div class="rTop" id="rTop" onClick="toTop()"><img src="images/top.png" class="img"></div>


</body>
</html>