<link rel="stylesheet" href="__CSS__/dropload.css">
<script src="__JS__/dropload.min.js"></script>

<script>
    $(function (){
        var p = 2;
        var ajaxurl = "{$ajaxurl}";
        var maxpage = "{$maxpage}";
        var user_id = "{$user_id}";
        var cate_id = "{$cate_id}";
        var btop = $(".loading1").offset().top;
        var loading = $("#list_more").data("on", false);
        $(window).scroll(function(){
            if(loading.data("on")) return;
            if(btop<$(window).height()+$(document).scrollTop()){
                loading.data("on", true).fadeIn();
                $.get(ajaxurl,{p:p,user_id:user_id,cate_id:cate_id},function(res){
                    var sqlJson = eval(res.data);
                    (function(sqlJson){
                        if(p>maxpage){
                            $("#list_more").show();
                            $(".loading1").appendTo("<span>加载完成</span>");
                        }else{
                            var content="";
                            for(var i in sqlJson){
                                content += '<li class="relative">';

                                content += '<a href = " ' + sqlJson[i]['item_url'] + ' ">';
                                content += '<div class="goods_pic">';
                                content += '<div class="allpreContainer">';
                                content += '<div class="inoutbg" style="background-image: url(' + sqlJson[i]['pic_url'] + '_240x240.jpg); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">';
                                content += '</div>';
                                content += '<div class="DSbg" style="background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">';
                                content += '</div>';
                                content += '</div>';
                                content += '</div>';
                                content += '</a>';

                                content += '<div class="goods_bottom">';

                                content += '<div>';
                                content += '<a class="goods_text" href="' + sqlJson[i]['item_url'] +'">' + sqlJson[i]['title'] + '</a>';
                                content += '</div>';

                                content += '<a href = " ' + sqlJson[i]['item_url'] + ' ">';
                                if (sqlJson[i]['shop_type'] == 'C') {
                                    content += '<div class="comefrom">天猫</div>';
                                } else if (sqlJson[i]['shop_type'] == 'J'){
                                    content += '<div class="comefrom" style="background: url(__IMG__/chuchu.png) no-repeat left center/15px;">楚楚街</div>';
                                }else {
                                    content += '<div class="comefrom" style="background: url(__IMG__/taobao.png) no-repeat left center/15px;">淘宝</div>';
                                }
                                content += '<div style=" position: absolute;top:60px;left: 10px;font-size:12px;">销量：' + sqlJson[i]['sale_num'] + '</div>';
                                content += '<div style=" position: absolute;top:73px;left: 10px;font-size:12px;">原价：&yen;' + sqlJson[i]['price'] + '</div>';
                                content += '</a>';

                                content += '<a href = " ' + sqlJson[i]['item_url'] + ' ">';
                                content += '<div class="goodspc">';

                                content += '<div class="goods_price">';
                                content += '<span style="font-size:12px;color:#969696">券后价</span><span style="font-size:12px">¥</span>¥<span>' + sqlJson[i]['coupon_price'] + '</span>';
                                content += '</div>';

                                content += '<div class="new-coupon">';
                                content += '<span>马上领劵</span><span>立减<em class="ljmoney">' + sqlJson[i]['coupon_money'] + '</em>元</span>';
                                content += '</div>';
                                content += '</div>';
                                content += '</a>';

                                content += '</div>';
                                content += '</li>';
                            }
                            $('.list_box').append(content);
                            loading.data("on",false).fadeIn(500);
                        }
                        p++;
                    })(sqlJson);
                    loading.fadeOut();
                });
            }
        });
    });
</script>

<volist name='items_list' id='item'>
    <li class="relative">
        <a href="{$item['item_url']}">
            <div class="goods_pic">
                <div class="allpreContainer">
                    <div class="inoutbg" style="opacity: 0; background-image: url({$item['pic_url']}); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
                    <div class="DSbg" style="opacity: 1; background-image: url({$item['pic_url']}); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
                </div>
            </div>
        </a>

        <div class="goods_bottom">
            <div><a class="goods_text" href="{$item['item_url']}">{$item['title']}</a></div>
            <a href="{$item['item_url']}">
                <if condition="$item['shop_type'] eq 'C'">
                    <div class="comefrom">天猫</div>
                <elseif condition="$item['shop_type'] eq 'J'"/>
                    <div class="comefrom" style="background: url(__IMG__/chuchu.png) no-repeat left center/15px;">楚楚街</div>
                <else/>
                    <div class="comefrom" style="background: url(__IMG__/taobao.png) no-repeat left center/15px;">淘宝</div>
                </if>

                <div style=" position: absolute;top:60px;left: 10px;font-size:12px;">
                    销量：{$item['sale_num']}
                </div>
                <div style=" position: absolute;top:73px;left: 10px;font-size:12px;">
                    原价：¥{$item['price']}
                </div>
            </a>
            <a href="{$item['item_url']}">
                <div class="goodspc">
                    <div class="goods_price">
                        <span style="font-size:12px;color: #969696">券后价</span>
                        <span style="font-size:12px;">¥</span><span>{$item['coupon_price']}</span>
                    </div>
                    <div class="new-coupon">
                        <span>马上领劵</span><span>立减<em class="ljmoney">{$item['coupon_money']}</em>元</span>
                    </div>
                </div>
            </a>
        </div>
    </li>
</volist>