<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>商品详情</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style_v3.css?v={$version}"/>
    <link href="__CSS__/main.css?v={$version}" rel="stylesheet">
    <link href="__CSS__/detail.css?v={$version}" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/layer.css?v={$version}" id="layui_layer_skinlayercss">
    <script src="__JS__/nav.js?v={$version}"></script>
    <link href="__CSS__/cj.css?v={$version}" rel="stylesheet" type="text/css"/>
</head>
<body>


<div id="pull" class=" detail-product">
    <div class="scroll-box">
        <div class="content detail-product-head">


            <!--淘口令-->
            <div class="media-list media-tkl text-center" style="display: block;">
                <div class="detail-command">
                    <div class="detail-command-box">
                        <span id="code1_ios" style="display: inline;">{$info}</span>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

</body>
</html>