<extend name="Common/common"/>
<block name="body">
    <div class="layui-form links_list">
        <table class="layui-table">
            <colgroup>
                <col width="15%">
                <col>
                <col>
                <col>
                <col width="13%">
            </colgroup>
            <thead>
            <tr>
                <th style="text-align:center;">分类名称</th>
                <th style="text-align:center;">分类图标</th>
                <th style="text-align:center;">分类排序</th>
                <th style="text-align:center;">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="links_content">
            </tbody>
        </table>
    </div>
    <div id="page">
    </div>
</block>
<block name="box">
    <div id="box" style="display:none;margin-top: 20px">
        <form class="layui-form" style="width:80%;" name="save-atec☺">
            <div class="layui-form-item">
                <label class="layui-form-label">分类图标</label>
                <div class="layui-input-block" style="position: relative">
                    <input type="text" name="icon_url" id="img-input"
                           class="layui-input" lay-verify="required"
                           placeholder="请上传分类图标" readonly style="width: 75%">
                    <div style="position: absolute;left:80% ;top:0;">
                        <input type="file" name="file" class="layui-upload-file"
                               lay-ext="jpg|png|gif|jpeg">
                    </div>
                    <div style="position: absolute;left:80% ;top:50px;">
                        <img src="" width="100" height="100" id="img">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" class="layui-input" lay-verify="required" placeholder="请输入分类名称"
                           style="width:75%">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类排序</label>
                <div class="layui-input-block">
                    <input type="number" name="sort" class="layui-input"
                           placeholder="请输入分类排序" style="width: 75%">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="0" id="cate_id"/>
                    <button class="layui-btn" lay-submit="" lay-filter="save-cate">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

</block>
<block name="js">
    <script>
        layui.config({
            base: JS_PATH
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function () {
            var form = layui.form(),
                    layer = parent.layer === undefined ? layui.layer : parent.layer,
                    laypage = layui.laypage,
                    $ = layui.jquery
                    , upload = layui.upload;
            var index = 0;
            upload({
                url: '/Common/uploadImg'
                , before: function () {
                    index = layer.msg('上传中，请稍候', {icon: 16, time: false, shade: 0.8});
                }
                , success: function (res) {
                    layer.close(index);
                    layer.msg(res.message);
                    if (res.state == 'SUCCESS') {
                        $('#img-input').val(res.url);
                        $('#img').attr('src', res.url);
                    }
                }
            });
            getData(1);
            function getData(page) {
                var count = 0;
                var data = [];
                $.get('/Item/cate', {page: page}, function (res) {
                    layer.close(index);
                    data = res.info.data;
                    count = res.info.count;
                    $(".links_content").html(renderDate(data));
                    if (index) {
                        layer.close(index);
                    }
                    if (page == 1) {
                        pages(count);
                    }
                })
            }

            //操作
            $("body").on("click", ".links_edit", function () {  //编辑
                var _this = $(this);
                $('#box input[name=name]').val(_this.data('name'));
                $('#box input[name=icon_url]').val(_this.data('icon_url'));
                $('#box #img').attr('src', _this.data('icon_url'));
                $('#box input[name=sort]').val(_this.data('sort'));
                $('#box #cate_id').val(_this.data('id'));
                layui.layer.open({
                    title: "编辑商品分类",
                    type: 1,
                    area: ['1000px', '300px'],
                    content: $('#box'),
                })
            })

            //登录按钮事件
            form.on("submit(save-cate)", function (data) {
                var _btn = data.elem;
                _btn.disabled = true;
                var url = "/Item/updateCate";
                index = layer.msg('请求中，请稍候', {icon: 16, time: false, shade: 0.8});
                $.post(url, data.field, function (res) {
                    layer.msg(res.info);
                    if (res.status == 1) {
                        layer.msg(res.info, function () {
                            window.location.reload();
                        })
                    } else {
                        _btn.disabled = false;
                        layer.msg(res.info);
                        layer.close(index);
                    }
                });
                return false;
            });

            $("body").on("click", ".links_del", function () {  //删除
                var _this = $(this);
                layer.confirm('确定要更新当前分类状态吗？', {icon: 3, title: '提示信息'}, function (index) {
                    index = layer.msg('更新中，请稍候', {icon: 16, time: false, shade: 0.8});
                    $.post("/Item/setStatus", {id: _this.data('id')}, function (res) {
                        layer.msg(res.info);
                        if (res.status == 1) {
                            setTimeout(function () {
                                window.location.reload(true);
                            }, 1000);
                        } else {
                            layer.close(index);
                        }
                    });
                })
            });

            /**
             * @param count
             * @param is_get
             */
            function pages(count) {
                laypage({
                    cont: "page",
                    count: count,
                    pages: Math.ceil(count / LIMIT_NUM),
                    jump: function (obj, first) {
                        if (first) {
                            form.render();
                        } else {
                            index = layer.msg('加载中，请稍候', {icon: 16, time: false, shade: 0.8});
                            getData(obj.curr);
                        }

                    }
                })
            }

            function renderDate(data) {
                var dataHtml = '';
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {
                        dataHtml += '<tr>'
                                + '<td align="center">' + data[i].name + '</td>'
                                + '<td align="center"><img src="' + data[i].icon_url + '" width="30" height="30"></td>'
                                + '<td align="center">' + data[i].sort + '</td>'
                        if (data[i].status == 1) {
                            dataHtml += '<td style="color:#5FB878;text-align: center">启用</td>'
                                    + '<td>'
                                    + '<a class="layui-btn layui-btn-mini links_edit" data-id="' + data[i].id + '" data-name="' + data[i].name + '" data-icon_url="' + data[i].icon_url + '" data-sort="' + data[i].sort + '"><i class="iconfont icon-edit"></i> 编辑</a>'
                                    + '<a class="layui-btn layui-btn-danger layui-btn-mini links_del" data-id="' + data[i].id + '"><i class="layui-icon">&#x1007;</i> 禁用</a>'
                                    + '</td>';
                        } else {
                            dataHtml += '<td style="color:#f00;text-align: center">禁用</td>'
                                    + '<td>'
                                    + '<a class="layui-btn layui-btn-mini links_edit" data-id="' + data[i].id + '" data-name="' + data[i].name + '" data-icon_url="' + data[i].icon_url + '" data-sort="' + data[i].sort + '"><i class="iconfont icon-edit"></i> 编辑</a>'
                                    + '<a class="layui-btn layui-btn-danger layui-btn-mini links_del" data-id="' + data[i].id + '"><i class="layui-icon">&#x1005;</i> 启用</a>'
                                    + '</td>';
                        }
                        dataHtml += '</tr>';
                    }
                } else {
                    dataHtml = '<tr><td colspan="5" align="center">暂无数据</td></tr>';
                }
                return dataHtml;
            }
        })
    </script>
</block>